<div class="post">
            
</div>
<div class="card my-2">
  <div class="card-body">
    <a class="card-title" href="{% url 'post_detail' pk=post.pk %}"><h2 style="color:grey; font-family:lobster;">{{ post.title }}</h2></a>

  
    <p class="card-text">
        {{ post.text|linebreaksbr }}</p>
    {% if user.is_authentificated %}
    <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
      <i class="bi-pencil-square">Редактировать</i>
    </a>
  {% endif %}
  </div>
  
  <div class="card-footer">
    Опубликовано
    {{ post.published_date }}
</div>

</div>